.containerProductPage {
  margin-top: 5rem;
  min-height: 90rem;
  max-height: 90rem;
  display: flex;
  padding: 3rem;
  flex-flow: row wrap;
  margin-left: 3rem;

  #categoriesSelect {
    width: 100%;
    margin-left: 5rem;
    min-height: 1rem;
  }

  #productListContainer {
    display: flex;
    flex-flow: row wrap;
    width: 78%;

    .productList {
      width: 100%;
      min-height: 75rem;
      max-height: 75rem;
      background: #eed6b4;
      margin-left: 5rem;
      display: flex;
      flex-flow: row wrap;
      overflow: scroll ;
    }

  }


}
